.w-100 {
    width: 100%;
    height: 75vh;
  }


  h1 {
    text-align: center;
  }

  .hinnasto {
    text-align: center;


  }
footer {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0;
    
    
  }

  .insta {
  grid-column: 1;
  display: flex;
  justify-content: center;
  align-items: center;  
  
}




.sposti {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

 .face {
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: center;


 }
    
.break {
    margin-left: auto;
    margin-right: auto;
    display: block;

}
.container {
  margin-bottom: 100px; 
}




.card-text {
    color: black;


}

.card-title {
    color: black;

}

.row {
  text-align: center;
  

}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize:horizontal
}

input[type=submit] {
  background-color: blue;
  color: white;
  border-radius: 4px;
  cursor: pointer;
 
  border: none;
}



input[type=submit]:hover {
  background-color: red;
}

.hinnasto:nth-child(even) {

  color: grey;
  

}


